<div class="container mt-4">
    <div class="row">
        <div class="col-8">
            <div class="d-flex">
                <h1>This First Heading </h1><h1 class="text-secondary ml-2"> Will Catch Your Eye</h1>
            </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quaerat deleniti, aut itaque delectus repudiandae iste assumenda. Excepturi, qui deserunt fugiat, aliquid maiores eveniet doloremque reprehenderit molestiae enim, nulla unde.</p>
        </div>
        <div class="col-4">
            <img src="/website1/assets/img/1.jpg" class="rounded-circle w-75"> 
        </div>
    </div>
</div>